.experiencias__item{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

@media screen and (max-width: 768px) {
    .experiencias__item{
      flex-direction: column;
      padding-left: 2px;
      padding-right: 2px;
    }
    
}