.iformacao{
    background: var(--branco);
    padding: 20px 10px 0 10px;
    width: 60%;
}

@media screen and (max-width: 1024px) {
    .iformacao{
        width: 70%;
    }
}


@media screen and (max-width: 600px) {
    .iformacao{
        width: 100%;
    }
}
