.rodape__redes___link-icon{
    color: var(--fundo);
}

.rodape__redes___link-icon:hover{
    color: var(--fundo-dois);
}

@media screen and (max-width: 767.98px) {
    .rodape__redes___link-icon{
    font-size: 32px;
    }
    
}