.rodape{
    align-items: center;
    background: var(--cinza-2);
    display: flex;
    height: 238px;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.rodape-caixa{
    display: flex;
    width: 773px;
    height: 138px;
    align-items: center;
    justify-content: center;
    gap: 25px;
    color: var(--branco);
}
@media screen and (max-width: 767.98px) {
    .rodape{
        flex-direction: column;
        padding-top: 0;
        width: 100%;
        padding-top: 5px;
        padding-bottom: 5px;
        height: 400px;
    }
    .rodape-caixa{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        gap: 25px;
        color: var(--branco);
    }
    
}