.rodape{
    align-items: center;
    background: var(--branco);
    display: flex;
    height: 50px;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media screen and (max-width: 500px) {
    .rodape{
        flex-direction: column;
        padding-top: 0;
        width: 100%;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    
}