body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


table{
    width: 600px;
    border-collapse: separate;
    border-radius: 10px;
    border: 1px solid;
}

th, td{
    padding: 7px;
}
th{
    text-transform: uppercase;
    border-top: 1px solid #999;
    border-bottom: 1px solid #111 ;
    text-align: left;
    font-size: 90%;
    letter-spacing: 0.1em;
}

tr:hover{
    background: #c3e6e5;

}

.alternado{
    background: #efefef;
}
.numero{
    text-align: right;
}
