.certificados__item{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

@media screen and (max-width: 600px) {
    .certificados__item{
        flex-direction: column;
    }
}