.projetos__mac___imagem{
    background: url(../../img/finas-web.png);
    background-repeat: no-repeat;
    background-size: 85% 60%;
    background-position: center;
    background-position:55% 25%;
    width: 70%;
    margin-left: 150px;
}
@media screen and (max-width: 1024px) {
    
    .projetos__mac___imagem{
        width: 70%;
        margin-left: 100px;
    }
}