.projeto__mac{
    align-items: flex-start;
    display: flex;
    gap: 50px;
    justify-content: space-between;
    margin-top: 70px;
    padding-left: 100px;
}

@media screen and (max-width: 767.9px) {
    .projeto__mac{
        display: none;
    }
}