.projetos__celular___imagem {
    background: url(../../img/finas-mobile.png);
    background-size: 42% 90%;
    background-repeat: no-repeat;
    background-position: 48% 45%;
    width: 100%;
    margin-left: 8px;
}


