.principais__textos{
    text-align: left;
    color: var(--branco);
    font-family: var(--fonte-secundaria);
    height: 377px;
    padding-top: 20px;
    
}

@media (min-width:768px) and (max-width: 1199.98px) {
    .principais__textos{
        width: 50%;
        height: 377px;
        padding-top: 50px;
    }
}