@media (min-width: 1200px) {
    .principais__titulo{
        font-size: 48px;
        font-weight: 600;
        line-height: 54px;
        letter-spacing: 0em;
        text-transform: uppercase;
        height: 39px;
        width: 205px;
        margin-bottom: 20px;
    }
}


@media (max-width: 767.98px) {
    .principais__titulo{
        font-size: 32px;
        font-weight: 600;
        line-height: 54px;
        height: 39px;
        width: 205px;
        margin-bottom: 20px;
    }
}

@media (min-width: 768px) and (max-width:1199.98px ){
    .principais__titulo{
        font-size: 28px;
        font-weight: 600;
        line-height: 54px;
        letter-spacing: 0em;
        text-transform: uppercase;
        height: 49px;
        width: 205px;
        margin-bottom: 20px;
    }
}
