@media (min-width: 1200px) {
   /*  .principais__img{
        width: 50%;
    } */
    
    .corew, 
    .photoshop, 
    .coder{
        background: var(--cinza-2);
        border-radius: 150px;
        width: 100px;
        height: 80px;
        position: relative;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--azul);
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 41px;
    }
    .corew{
        top: 416px;
        left: 100px;
    }
    .photoshop{
        top: 250px;
        right: 40px;
    }
    .coder{
        top: 85px;
        right: 0;
    }
    .principais__spans{
        font-family: var(--fonte-secundaria);
        position: absolute;
        display: flex;
        top: 100px;
        width: 580px;
        
    }
    .principais__imagem{
        width: 575px;
        height: 575px;
    }
    
    .span-caixa__imagem{
        position: relative;
        right: 55px;
        top: 149px;
    }
    
}

@media (min-width:1024px) and (max-width: 1199.98px) {
    .principais__img{
        width: 50%;
    }
    .corew, 
    .photoshop, 
    .coder{
        background: var(--cinza-2);
        border-radius: 150px;
        width: 60px;
        height: 60px;
        position: relative;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--azul);
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 41px;
    }
    .corew{
        top: 345px;
        left: 68px;
    }
    .photoshop{
        top: 210px;
        right: 45px;
    }
    .coder{
        top: 75px;
        right: 20px;
    }
    .principais__spans{
        font-family: var(--fonte-secundaria);
        position: absolute;
        display: flex;
        top: 100px;
        width: 500px;
    }
    .principais__imagem{
        width: 475px;
        height: 475px;
        top: 35px;
        right: 35px;
        position: relative;
        z-index: -1;
    }
    
    .span-caixa__imagem{
        width: 350px;
        position: relative;
        top: 125.5px;
        right: 40px;
    }
    .span-imagem{
        width: 80%;
    }
    
}


@media (max-width: 1023.98px) {
    .principais__img{
        display: none;
    }
}


