.contato__textos p{
    color: var(--branco);
    margin-bottom: 50px;
    width: 50%;
}


@media screen and (max-width: 600px) {

    .contato__textos{
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .contato__textos p{
        margin-bottom: 30px;
        text-align: center;
        width: 70%;
    }
}