.contato__titulo{
    color: var(--amarelo);
    font-size: 3rem;
    font-weight: 800;
    padding: 50px 0;
    width: 50%;
}


@media screen and (max-width: 1024px) {
    .contato__titulo{
    font-size: 2.5rem;  
    }
    
}


@media screen and (max-width: 767.9px) {
    .contato__titulo{
    font-size: 2rem; 
    text-align: center;
    
    }
    
}

@media screen and (max-width: 599.9px) {
    .contato__titulo{
    font-size: 2.5rem;  
    
    }
    
}