.pessoal__titulo{
    border-bottom: 1px solid var(--cores-fonte);
    color: var(--roxo);
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    .pessoal__titulo{
        font-size: 1.5rem;
        text-align: center;
    }
    
}