/* .sobre-titulo{
    font-weight: 800;
    font-size: 3.5rem;
    color: var(--branco);
    margin-bottom: 50px;
    padding-top: 50px;
}



@media screen and (max-width: 1024px) {
    .sobre__titulo{
    font-size: 2.5rem;    
    }
    
}


@media screen and (max-width: 767.9px) {
    .sobre__titulo{
    font-size: 1rem;    
    }
    
} */