.sobre__eduardo__paragrafo{
    color: var(--branco);
    font-size: 14px;
    line-height: 20px;
    width: 60%;
}

@media screen and (max-width: 375px) {
    .sobre__eduardo__paragrafo{
        width: 100%;
    }
}