.sobre__lista{
    padding-top: 8rem;
    width: 50rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 130px 130px 130px 130px 130px;
    grid-template-rows: 130px ;
    column-gap: 10px;
    row-gap: 15px;
}

.sobre__lista i {
    color: var(--azul);
    
}
@media (max-width: 767.98px) {
    .sobre__lista{
       width: 100%;
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
    }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
    .sobre__lista{
        width: 43rem;
    }
}