@media (max-width: 767.98px) {
    .navegacao__lista{
        display: flex;
        gap: 20px;
        justify-content: space-around;
        height: 21px;
        border-radius: 0px;
        align-self: center;
    }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
    .navegacao__lista{
        display: flex;
        gap: 10px;
        justify-content: space-around;
        height: 21px;
        width: 710px;
        border-radius: 0px;
        align-self: center;
    }
}

@media (min-width: 1200px) {
    .navegacao__lista{
        display: flex;
        gap: 10px;
        justify-content: space-around;
        height: 21px;
        width: 710px;
        border-radius: 0px;
        align-self: center;
    }
}
