.outros__item{
    border-radius: 8px;
    box-shadow: 3px 3px 3px var(--fundo-dois);
    position: relative;
    width: 100%;
    max-width: 300px;
}

@media (max-width: 559.9px) {
    .outros__item{
        margin-top: 10px;
    }
}
