.outros__lista{
    display: flex;
    flex-wrap: wrap;
    gap:30px;
    justify-content: center;
}


@media screen and (max-width: 1023.9px) {
    .outros__lista{
        justify-content: space-around;
    }
}

@media screen and (max-width: 559.9px) {
    .outros__lista{
        display: flex;
        flex-direction: column;
        gap:40px;
        margin: 0;
    }
}